ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #423E37;
}
li{
    float: right;
}
li a, .dropbtn {
    display: inline-block;
    color: #EEF5DB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #F58F29;
}
#Header {
    color: wheat;
    text-align: left;
    float: left;
    padding-left: 10px;
}