<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
<ul>
    <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold"><a href="/">Welcome to Nordic Motorhome</a></p>
        <li><a class="dtopbtn" href="/motorhome">Motorhomes</a></li>
        <li><a class="dtopbtn" href="/customer">Customers</a></li>
        <li><a class="dtopbtn" href="/rental">Rentals</a></li>
</ul>
<div>
    <img class="urban" src="img/urban plus.jpg">

</div>

</body>
</html>