<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nordic Motorhome</title>
    <link rel="stylesheet" type="text/css" href="MyCSS.css">
</head>
<body>
<ul>
        <p style="color: wheat; text-align: left; float: left; padding-left: 10px; font-weight: bold" >Welcome to Nordic Motorhome</p>
        <li><a class="dtopbtn" href="#">Motorhomes</a></li>
        <li><a class="dtopbtn" href="#">Customers</a></li>
        <li><a class="dtopbtn" href="#">Rentals</a></li>
</ul>

<div class="container">
    <img class="image" src="img/1920.jpg">
    <div class="box">
        <div class="text">
            <h4>Hejssaaa</h4>
        </div>

    </div>
</div>
</body>
</html>